@import url("https://fonts.googleapis.com/css2?family=Montserrat:wgt@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  padding: 5px;
}

.dashboard {
  display: flex;
  gap: 20px;
}
.dashbaord--content {
  background: #fff;
  flex: 1;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}
